<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <permission
        android:name="com.clawseed.permission.ACCESS_TOOLS"
        android:protectionLevel="normal"
        android:label="Access Jiucaihua CETP Tools" />

    <application
        android:name=".JiucaihuaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jiucaihua">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Jiucaihua">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <provider
            android:name=".cetp.CetpToolProvider"
            android:authorities="com.jiucaihua.app.clawseed.tools"
            android:exported="true"
            android:permission="com.clawseed.permission.ACCESS_TOOLS" />

        <service
            android:name=".cetp.CetpDiscoveryService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.clawseed.action.TOOL_PROVIDER" />
            </intent-filter>
            <meta-data
                android:name="com.clawseed.tools.authority"
                android:value="com.jiucaihua.app.clawseed.tools" />
            <meta-data
                android:name="com.clawseed.tools.version"
                android:value="1" />
        </service>
    </application>
</manifest>
